#logo{
  width:150px!important;
  margin:20px auto 0 auto;
  display:block;

}

#login-box{
  color:gray!important;
}

#login-box  h3{
  color:rgb(95, 95, 95);
  text-align:center;
}

#login-box .panel-body{
  padding-top:0!important;
}

#login-box .form-control{
  border-radius: 4px!important;
  border:2px solid #DEE2E7;
}
